.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 4;
  transition-property: opacity(1);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}
