.moddal {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition-property: opacity(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
  z-index: 2;
  &__window{
    width: 280px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__voteA{
    background-color:  var(--span-color);
    width: 36px;
    height: 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color: var(--font-color_header);
  }
  &__voteC{
    background-color:  var(--background-footer);
    width: 36px;
    height: 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
  }
  &__poster{
    width: 240px;
    height: 356px;
    border-radius: 5px;
    margin-top: 26px;
    margin-bottom: 30.5px;
    margin-left: 20px;
  }
  &__close{
    position: relative;
    top: 2px;
    left: 252px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__title{
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  &__data{
    display: flex;
    &--1{
      margin-right: 33.5px;
    }
    &--2{
      margin-right: 45.5px;
    }
    &--3{
      margin-right: 32px;
    }
    &--4{
      margin-right: 68px;
    }
  }
  &__about{
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 20px;
  }
  &__aboutTxt{
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 20px;
    width: 240px;
    margin-bottom: 21px;
  }
  &__dataTitle{
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
    color: var(--font-color-moddal);
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  &__buttons{
    display: flex;
    gap: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  &__btn{
    background: transparent;
    border: 1px solid var(--font-color_main);
    border-radius: 4px;
    width: 112px;
    height: 44px;
    text-transform: uppercase;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
  }
  &__btn:focus,
  &__btn:hover{
    background-color: var(--span-color);
    border: 1px solid var(--span-color);
    color: var(--font-color_header);
    cursor: pointer;
  }
  &__dataTxt{
    font-family: var(--font);
    font-size: 12px;
    font-weight: 500;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .moddal {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition-property: opacity(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
    z-index: 2;
    &__window{
      width: 618px;
      height: 562px;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__grid{
      display: flex;
    }
    &__poster{
      margin-left: 28px;
      margin-right: 32px;
      margin-top: 18px;
      width: 264px;
      height: 373px;
      border-radius: 5px;
    }
    &__close{
      position: relative;
      top: 4px;
      left: 588px;
      background-color: transparent;
      border: none;
    }
    &__title{
      font-family: var(--font);
      font-size: 20px;
      font-weight: 500;
      margin-top: 18px;
      margin-bottom: 20px;
    }
    &__about{
      font-family: var(--font);
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &__buttons{
      display: flex;
      gap: 15px;
    }
    &__btn{
      background: transparent;
      border: 1px solid var(--font-color_main);
      border-radius: 4px;
      width: 125px;
      height: 44px;
      text-transform: uppercase;
      font-family: var(--font);
      font-size: 12px;
      font-weight: 500;
    }
    &__btn:focus,
    &__btn:hover{
      background-color: var(--span-color);
      border: 1px solid var(--span-color);
      color: var(--font-color_header);
    }
    &__data{
      &--1{
        margin-right: 33.5px;
      }
      &--2{
        margin-right: 45.5px;
      }
      &--3{
        margin-right: 32px;
      }
      &--4{
        margin-right: 68px;
      }
    }
    &__aboutTxt{
      font-family: var(--font);
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      width: 264px;
      margin-bottom: 20px;
    }
    &__dataTitle{
      font-family: var(--font);
      font-size: 12px;
      font-weight: 500;
      color: var(--font-color-moddal);
      margin-bottom: 10px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .moddal {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition-property: opacity(1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
    z-index: 2;
    &__window{
      width: 882px;
      height: 568px;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__grid{
      display: flex;
    }
    &__poster{
      width: 396px;
      height: 478px;
      border-radius: 5px;
      margin-top: 26px;
      margin-left: 30px;
      margin-right: 30px;
    }
    &__close{
      position: relative;
      top: 4px;
      left: 850px;
      background-color: transparent;
      border: none;
    }
    &__title{
      font-family: var(--font);
      font-size: 30px;
      font-weight: 500;
      margin-top: 26px;
      margin-bottom: 20px;
    }
    &__about{
      font-family: var(--font);
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
    &__aboutTxt{
      width: 396px;
      font-family: var(--font);
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 27px;
      margin-top: 0px;
    }
    &__buttons{
      display: flex;
      gap: 15px;
    }
    &__btn{
      background: transparent;
      border: 1px solid var(--font-color_main);
      border-radius: 4px;
      width: 136px;
      height: 44px;
      text-transform: uppercase;
      font-family: var(--font);
      font-size: 12px;
      font-weight: 500;
    }
    &__btn:focus,
    &__btn:hover{
      background-color: var(--span-color);
      border: 1px solid var(--span-color);
      color: var(--font-color_header);
    }
    &__data{
      &--1{
        margin-right: 75.5px;
      }
      &--2{
        margin-right: 87.5px;
      }
      &--3{
        margin-right: 74px;
      }
      &--4{
        margin-right: 110px;
      }
    }
    &__dataTitle{
      font-family: var(--font);
      font-size: 12px;
      font-weight: 500;
      color: var(--font-color-moddal);
      margin-bottom: 10px;
    }
  }
}
